apiVersion: v1
kind: Service
metadata:
  name: postgres-headless
  namespace: default
  labels:
    app.kubernetes.io/name: postgres
spec:
  type: ClusterIP
  clusterIP: None
  selector:
    app.kubernetes.io/name: postgres
  ports:
    - name: postgres
      port: 5432
      targetPort: 5432
